html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: fit-content;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: black;
  flex-wrap: wrap;


}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: flex;
  flex: 1;
  margin: 0 15px;
  align-items: center;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: "Karla", sans-serif;

}
li a:hover {
  color: #495E57;
  text-decoration: underline;
}



footer {

}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #495E57;
  color: #F4CE14;

}
.footer ul {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}
footer img {
  align-self: flex-start;
  background-color: white;
  padding: 10px;
}
footer ul li a {
  color: white;
}
footer ul li a:hover {
  color: white;
  text-decoration: underline;
}




.yellowbutton {
  background-color: #F4CE14;
  color: black;
  padding: 10px 20px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.yellowbutton:hover {
  background-color: #d9b712;
}

h1 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 600;
  margin: 0;
  color: #F4CE14;
}

h2 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  margin: 0;
  color: white;
}
p {
  font-family: "Karla", serif;
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.greenbg {
  background-color: #495E57;
}


