html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;

    text-decoration: none;

}

body {
    min-width: fit-content;

}

html, body {
    /*overscroll-behavior-y: none;*/
    /*overscroll-behavior-x: none;*/
}


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
    flex-wrap: wrap;
    border-bottom: solid black 2px;


}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: flex;
    margin: 0 20px;
    align-items: center;

}

li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: "Karla", sans-serif;

}

li a:hover {
    color: #495E57;
    text-decoration: underline;
    transition: 0.2s;
}

li a:active {
    transform:scale(1.10);
}


footer {

}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #495E57;
    color: #F4CE14;

}

.footer ul {
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
}

footer img {
    align-self: flex-start;
    background-color: white;
    padding: 10px;
}

footer ul li a {
    color: white;
}

footer ul li a:hover {
    color: white;
    text-decoration: underline;
}


footer .footerimg {
    align-items: flex-end;
    justify-content: flex-start;
}


.yellowbutton {
    background-color: #F4CE14;
    color: black;
    padding: 10px 20px;
    border-radius: 16px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    height: 60px;
    transition: 0.2s;

}

.yellowbutton:hover {
    background-color: #debb13;
    transform: scale(1.02);

}

.yellowbutton:disabled {
    background-color: #969696;
    color: #626262;

}

.yellowbutton:active {
    transform: scale(1.10);
}

h1 {
    font-family: "Markazi Text", serif;
    font-size: 64px;
    font-weight: 600;
    margin: 15px 0 15px;
    color: #F4CE14;
}

h2 {
    font-family: "Markazi Text", serif;
    font-size: 64px;
    font-weight: 500;
    margin: 15px 0 15px;
    color: white;
}

h2 + p {
    font-family: "Karla", serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 15px 0 15px;
}

.herosection {
    background-color: #495E57;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}

.herosection div {
    padding: 20px;

}

div img {
    border-radius: 16px;
    align-items: center;

}

#heroimg {
    box-shadow: 0px 0px 48px 5px rgba(0, 0, 0, 0.7);
    transition: 0.2s;

}

#heroimg:hover {
    transform: scale(1.02);
}

.highlits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.specials {
    display: flex;
    flex-direction: row;
}

.specials div {
    justify-content: center;
    align-self: center;
    padding: 20px;

}

/*.yellowbutton {*/

/*}*/
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.card {
    background-color: #e7e7e7;
    margin: 0 15px 15px;
    border-radius: 16px;
    width: 300px;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.carddescription {
    padding: 20px;

}

h3 + p {
    font-family: "Karla", serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin: 15px 0 15px;
}
h3 {
    margin-bottom: 5px;
}


.blackbutton {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

.blackbutton:hover {
    background-color: #F4CE14;
    color: #000000;
    transform: scale(1.02);
}
.blackbutton:active {
    transform: scale(1.10);
}


.cardimg {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex: 1;*/
    /*margin: 15px;*/

    width: 100%;
    height: 200px;
    border-radius: 16px 16px 0 0;

}


.cardbody {
    padding: 20px;
    width: 100%;
}

.cardtitle {
    display: flex;


}


.carddescription h3 {
    color: black;
    font-family: "Karla", serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

p {
    color: black;

}


.orderbutton {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
}

.orderbutton:hover {
    background-color: #495E57;
}


.testimonals {
    background-color: #495E57;
    padding: 10px;

}


.testimonalsec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.reviews {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;

}

.review {
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    border-radius: 16px;
    width: 220px;
    color: black;
    transition: 0.2s;

}

.review:hover {
    transform: scale(1.02);
}


.comment {
    font-family: "Karla", serif;
    font-size: 14px;
    font-weight: 600;

}
.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;

}



.about h1, .about p, .about h2 {
    color: black;
}
.about p {
    margin-right: 25px;
}

.about h2 {
    font-size: 40px;
}

.about div {
    width: 30%;
}


#mike1 {
    margin-right: -80px;
    box-shadow: 0px 0px 48px 5px rgba(0, 0, 0, 0.7);
transition: 0.2s;
    height: auto;
    width: 30%;
}

#mike2 {
    margin-right: -80px;
    margin-top: 50px;
    box-shadow: 0px 0px 48px 5px rgba(0, 0, 0, 0.7);
transition: 0.2s;
    z-index: 1;
    height: auto;
    width: 30%;



}
#mike1:hover {
    transform: scale(1.02);
}
#mike2:hover {
    transform: scale(1.02);
}


#Menu img {

}

#Menu {
    display: flex;
    flex-direction: column;

}

#MenuImg {
    border-radius: 0;
    align-self: center;
    width: 40%;
    padding: 0;
    flex-wrap: wrap;

}


.login {
    display: flex;
    flex-direction: column;
    height: 720px;
    align-items: center;
    /*margin-top: 50px;*/

}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background-color: #495E57;
    padding: 15px;
    border-radius: 16px;
    align-self: center;
    justify-self: center;
    color: white;


}

.form input {
    margin: 15px;
    height: 35px;
    width: 180px;
    justify-self: center;
    font-size: 18px;
    font-family: "Karla", serif;
    font-weight: 600;
}

.form button {
    align-self: center;
}

.form a {
    text-decoration: underline;
    color: #ffce00;
    margin-top: 0;
}

.form label {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: start;
}

.form .yellowbutton {
    margin-top: 20px;
}

label {
    font-family: "Karla", serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0px 0 0px;
}

label + a {
    margin: 15px;
    justify-self: end;
}

.form h3 {
    margin: 15px;
}


label input {
    border-radius: 16px;
    border: none;
}


/*.information {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/

/*    !*height: 300px;*!*/
/*}*/
/*.allinformation {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/

.reservelayout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #495E57;
    width: 90%;
    max-width: 800px;
    min-height: 450px;
    padding: 15px;
    border-radius: 16px;
    color: white;

    /*box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7);*/

}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row3 img {
    margin: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
}


select {
    height: 25px;
    width: 140px;

}

/*.reservecontainer h1 {*/
/*    width: 100%;*/
/*    background-color: #495E57;*/
/*    text-align: center;*/
/*}*/

.reservecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 160px;
}
    .reservelayout input, .reservelayout select {
        margin: 5px 10px 10px;
        width: 180px;
        height: 45px;
        font-size: 20px;
        font-family: "Karla", serif;
        font-weight: 600;
        border-radius: 16px;
        border: none;
        transition: 0.2s;

    }

.reservelayout input:focus, .reservelayout select:focus {
    transform: scale(1.02);
    outline:none;
    background-color: #F4CE14;
}

.reservelayout input:hover, .reservelayout select:hover {
    /*transform: scale(1.02);*/
    /*background-color: #e3e3e3;*/
    outline:none;
    background-color: #F4CE14;

}

.reservelayout input:active, .reservelayout select:active {
    transform: scale(1.10);
}

    .row3 {
  align-items: center;
        justify-content: center;

    }



    /*div .row1 {*/
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*}*/
/*.row1 input, .row2 input, .row3 input{*/

/*    font-size: 50px;*/
    /*}*/
    /*input {*/
    /*    font-size: 50px;*/
    /*}*/

.aboutcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 90px;
    padding: 0 20px;
    background-color: #495E57;
}
.aboutcontainer p {
    width: 500px;
    font-size: 25px;
    font-family: "Karla", serif;
    font-weight: 600;
    color: white;
    margin: 0;
}
.aboutcontainer div {
    display: flex;
    flex-direction: row;
}

.confirmedlayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 230px;
    padding: 0 20px;
    color: white;
}

.confirmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 0 20px;
    background-color: #495E57;
    border-radius: 16px;
    color: #f6d11a;
    width: 450px;
    height: 300px;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}
.confirmedbutton {
    background-color: #F4CE14;
    color: black;
    padding: 10px 20px;
    border-radius: 16px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    height: 60px;
    transition: 0.2s;
}
.confirmedbutton:hover {
    background-color: #debb13;
    transform: scale(1.02);
}

/*.confirmedbutton:active {*/
/*    color: red;*/
/*}*/

.error {
    color: red;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.orderonline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:90px;
    color: white;
}


.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
}

.footer {

}

.loginform .yellowbutton {
    margin: 15px;
}